# *Data Processing*

*In this notebook we add additional information abot the acts and sections to the existing data frame for a consolidated view of the data.*

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/court-data/judges_clean/judges_clean.csv
/kaggle/input/court-data/acts_sections/acts_sections.csv
/kaggle/input/court-data/cases/cases/cases_2015.csv
/kaggle/input/court-data/cases/cases/cases_2012.csv
/kaggle/input/court-data/cases/cases/cases_2018.csv
/kaggle/input/court-data/cases/cases/cases_2013.csv
/kaggle/input/court-data/cases/cases/cases_2017.csv
/kaggle/input/court-data/cases/cases/cases_2010.csv
/kaggle/input/court-data/cases/cases/cases_2014.csv
/kaggle/input/court-data/cases/cases/cases_2016.csv
/kaggle/input/court-data/cases/cases/cases_2011.csv
/kaggle/input/court-data/keys/keys/type_name_key.csv
/kaggle/input/court-data/keys/keys/cases_district_key.csv
/kaggle/input/court-data/keys/keys/act_key.csv
/kaggle/input/court-data/keys/keys/disp_name_key.csv
/kaggle/input/court-data/keys/keys/purpose_name_key.csv
/kaggle/input/court-data/keys/keys/cases_state_key.csv
/kaggle/input/court-data/keys/keys/section_key.csv
/kaggle/input/court-data/keys/keys/cases_court_key.csv
/kaggle/input/court-data/keys/keys/judge_case_merge_key.csv
/kaggle/input/data-preprocessing/3yrs_cases.csv
/kaggle/input/data-preprocessing/__results__.html
/kaggle/input/data-preprocessing/__notebook__.ipynb
/kaggle/input/data-preprocessing/__output__.json
/kaggle/input/data-preprocessing/custom.css

## *Acts and Sections data*

In [2]:
acts_sec = pd.read_csv("/kaggle/input/court-data/acts_sections/acts_sections.csv", low_memory=False)
acts_sec.head()

,ddl_case_id,act,section,bailable_ipc,number_sections_ipc,criminal
0,06-03-02-210100004042014,17353.0,NaN,NaN,1.0,1
1,23-34-01-229900001012019,4759.0,NaN,NaN,NaN,1
2,13-18-03-204000030972016,17353.0,NaN,NaN,1.0,1
3,23-28-01-220102000232016,4759.0,NaN,NaN,NaN,1
4,01-35-05-203007002652012,17353.0,NaN,NaN,1.0,1

In [3]:
acts_sec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76811357 entries, 0 to 76811356
Data columns (total 6 columns):
 #   Column               Dtype
---  ------               -----
 0   ddl_case_id          object
 1   act                  float64
 2   section              float64
 3   bailable_ipc         object
 4   number_sections_ipc  float64
 5   criminal             int64
dtypes: float64(3), int64(1), object(2)
memory usage: 3.4+ GB

*cleaning and processing the data*

In [4]:
acts_sec.drop(columns=["bailable_ipc", "criminal"], axis=1, inplace=True)
acts_sec.dropna(inplace=True)

*Importing the pre-processed data file into the notebook*

In [5]:
cases_3yrs = pd.read_csv("/kaggle/input/data-preprocessing/3yrs_cases.csv")
cases_3yrs.head()

,ddl_case_id,state_code,dist_code,court_no,judge_position,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,case_duration
0,01-01-01-201900001322016,1,1,1,chief judicial magistrate,0,0,1940.0,2813.0,23,947.0
1,01-01-01-201900001792016,1,1,1,chief judicial magistrate,0,0,1940.0,6253.0,16,241.0
2,01-01-01-201900003012016,1,1,1,chief judicial magistrate,0,0,1940.0,4776.0,5,602.0
3,01-01-01-201900004642016,1,1,1,chief judicial magistrate,0,1,1940.0,5426.0,28,445.0
4,01-01-01-202800000242016,1,1,1,chief judicial magistrate,1,0,4777.0,4342.0,5,599.0

In [6]:
cases_3yrs = pd.merge(cases_3yrs, acts_sec, how='left', on='ddl_case_id')
cases_3yrs.head()

,ddl_case_id,state_code,dist_code,court_no,judge_position,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,case_duration,act,section,number_sections_ipc
0,01-01-01-201900001322016,1,1,1,chief judicial magistrate,0,0,1940.0,2813.0,23,947.0,NaN,NaN,NaN
1,01-01-01-201900001792016,1,1,1,chief judicial magistrate,0,0,1940.0,6253.0,16,241.0,NaN,NaN,NaN
2,01-01-01-201900003012016,1,1,1,chief judicial magistrate,0,0,1940.0,4776.0,5,602.0,NaN,NaN,NaN
3,01-01-01-201900004642016,1,1,1,chief judicial magistrate,0,1,1940.0,5426.0,28,445.0,NaN,NaN,NaN
4,01-01-01-202800000242016,1,1,1,chief judicial magistrate,1,0,4777.0,4342.0,5,599.0,NaN,NaN,NaN

In [7]:
import warnings
warnings.simplefilter('ignore')
import gc
import subprocess


del acts_sec
gc.collect()

63

In [8]:
cases_3yrs.dropna(inplace=True)

In [9]:
cases_3yrs

,ddl_case_id,state_code,dist_code,court_no,judge_position,female_adv_def,female_adv_pet,type_name,purpose_name,disp_name,case_duration,act,section,number_sections_ipc
42,01-01-03-201500000012016,1,1,3,district and sessions court,0,0,6112.0,1838.0,4,978.0,17353.0,762473.0,1.0
43,01-01-03-201500000032016,1,1,3,district and sessions court,1,0,6112.0,4776.0,4,512.0,17353.0,762473.0,1.0
44,01-01-03-201500000102016,1,1,3,district and sessions court,1,0,6112.0,767.0,4,877.0,17353.0,773491.0,5.0
45,01-01-03-201500000122016,1,1,3,district and sessions court,1,0,6112.0,1838.0,4,855.0,17353.0,940277.0,4.0
46,01-01-03-201500000162016,1,1,3,district and sessions court,1,0,6112.0,4776.0,31,410.0,17353.0,954558.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274411,32-01-01-213410000132018,32,1,1,principal district and sessions court,0,0,6540.0,7419.0,4,203.0,17353.0,954558.0,1.0
274412,32-01-01-213410000142018,32,1,1,principal district and sessions court,0,0,6540.0,2975.0,4,84.0,17353.0,954558.0,2.0
274413,32-01-01-213410000152018,32,1,1,principal district and sessions court,0,0,6540.0,840.0,4,190.0,17353.0,954558.0,2.0
274417,32-01-01-214010000092018,32,1,1,principal district and sessions court,0,0,5936.0,7419.0,4,339.0,17353.0,762473.0,2.0
274418,32-01-01-214010000312018,32,1,1,principal district and sessions court,1,0,5936.0,840.0,4,54.0,17353.0,762473.0,1.0

In [10]:
cases_3yrs.to_csv("/kaggle/working/preprocessed_3yrs_cases.csv", index=False)